# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ENV/
.venv/
*.sqlite3
*.db

# Flask/Dance OAuth
instance/
*.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Coverage
htmlcov/
.coverage
.tox/
.pytest_cache/
.cache/